# Editor and repository tooling
.github/*
.vscode/*
!.vscode/mcp.json
!.vscode/settings.json

# Environment files
.env
.venv/

# Dependencies
vendor/
node_modules/

# Temporary files
.tmp/
tmp/

# Root-only files
/*.txt
/*.html
/*.json
/*.log
/*.exe
/*.ps1
/*.py
/*.go
/.gemini
/*.js
/*.out
/c
/bun.lock
/bun.lockb
/package.json
/package-lock.json
/scratch
!notebookLM.py